<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>About Masky</title>
    <meta name="”description”" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../static/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../static/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../static/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../static/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../static/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../static/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../static/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../static/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../static/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../static/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="../static/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <link rel="stylesheet" href="../static/about.css" />
  </head>
  <body>
    <div id="content-top">
      <nav>
        <ul>
          <li>Features</li>
          <li>Dashboard</li>
          <li>About Us</li>
        </ul>
        <section>
          <a href="https://github.com/FranciscoSerrano/Final-Project"
            ><img
              src="../static/assets/githublogo.svg"
              alt="Github"
              width="30"
              height="30"
            />
          </a>
        </section>
      </nav>
      <section class="team">
        <h2 class="team-heading">Team</h2>
        <div class="card-container">
          <div class="card">
            <div class="card-about">
              <div class="card-about-image">
                <img
                  alt="annie"
                  src="../static/images/annie.svg"
                />
              </div>
              <div class="card-about-body">
                <div>
                  <h4 class="font-medium text-2xl mb-3">Card title</h4>
                  <p class="leading-normal">
                    Magni inventore repellat dignissimos eveniet dolore ex sit
                    illo adipisci accusamus quos.
                  </p>
                  <p class="text-sm text-grey block mt-6">Designation title</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-about">
              <div class="card-about-image">
                <img
                  alt="annie"
                  src="../static/images/annie.svg"
                />
              </div>
              <div class="card-about-body">
                <div>
                  <h4 class="font-medium text-2xl mb-3">Card title</h4>
                  <p class="leading-normal">
                    Magni inventore repellat dignissimos eveniet dolore ex sit
                    illo adipisci accusamus quos.
                  </p>
                  <p class="text-sm text-grey block mt-6">Designation title</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-about">
              <div class="card-about-image">
                <img
                  alt="annie"
                  src="../static/images/annie.svg"
                />
              </div>
              <div class="card-about-body">
                <div>
                  <h4 class="font-medium text-2xl mb-3">Card title</h4>
                  <p class="leading-normal">
                    Magni inventore repellat dignissimos eveniet dolore ex sit
                    illo adipisci accusamus quos.
                  </p>
                  <p class="text-sm text-grey block mt-6">Designation title</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-about">
              <div class="card-about-image">
                <img
                  alt="annie"
                  src="../static/images/annie.svg"
                />
              </div>
              <div class="card-about-body">
                <div>
                  <h4 class="font-medium text-2xl mb-3">Card title</h4>
                  <p class="leading-normal">
                    Magni inventore repellat dignissimos eveniet dolore ex sit
                    illo adipisci accusamus quos.
                  </p>
                  <p class="text-sm text-grey block mt-6">Designation title</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="driven">
        <h2 class="driven-heading">Driven</h2>
      </section>
      <section class="model">
        <h2 class="model-heading">Model</h2>
      </section>
      <section class="resources">
        <h2 class="resources-heading">Resources</h2>
      </section>
    </div>
    <!-- FOOTER -->
    <footer class="section-footer">
      <div class="layout-container">
        <div class="section-footer__layout layout-flex">
          <!-- COPYRIGHT -->
          <p class="section-footer--copyright text-note">
            <small>&copy; Masky</small>
          </p>
          <!-- MENU -->
          <ul style="list-style-type: none">
            <li><h3>Github links</h3></li>
            <li><a href="https://github.com/FranciscoSerrano">Cisco</a></li>
            <li><a href="https://github.com/soudersmax">Max</a></li>
            <li><a href="https://github.com/JovaniPink">Jovani</a></li>
            <li><a href="https://github.com/AnnieShaffer">Annie</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
