<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masky</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="content-top">
        <nav>
            <ul>
                <li>Features</li>
                <li>Dashboard</li>
                <li>About Us</li>
            </ul>
            <section>
                <img src="../static/assets/githublogo.svg" alt="Github" width = "30" height="30">
            </section>
        </nav>
        <section class="content-top-body">
            <aside>
                <h1>Masky</h1>
                <div id="button">
                    <span>Get Started</span>
                </div>
            </aside>
            <img src="../static/assets/facemask.svg" width="450" height="450">
        </section>
    </div>
    <div id="content-middle">
        <section class="card">
            <h1>Lorem Ipsum</h1>
            <p>
                Maecenas faucibus mollis interdum. 
                Nullam quis risus eget urna 
                mollis ornare vel eu leo.
            </p>
        </section>
        <section class="card">
            <h1>Lorem Ipsum</h1>
            <p>
                Maecenas faucibus mollis interdum. 
                Nullam quis risus eget urna 
                mollis ornare vel eu leo.
            </p>
        </section>
        <section class="card">
            <h1>Lorem Ipsum</h1>
            <p>
                Maecenas faucibus mollis interdum. 
                Nullam quis risus eget urna 
                mollis ornare vel eu leo.
            </p>
        </section>
        
    </div>
    <footer>
        
    </footer>
</body>
</html>