<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Masky</title>
    <meta name="”description”" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div id="content-top">
      <nav>
        <ul>
          <li>Features</li>
          <li>Dashboard</li>
          <li>About Us</li>
        </ul>
        <section>
          <img
            src="../static/assets/githublogo.svg"
            alt="Github"
            width="30"
            height="30"
          />
        </section>
      </nav>
      <section class="content-top-body">
        <aside>
          <h1>Masky</h1>
          <div id="button">
            <span>Get Started</span>
          </div>
        </aside>
        <img src="../static/assets/facemask.svg" width="450" height="450" />
      </section>
    </div>
    <section id="content-middle">
      <div class="card">
        <h1>Lorem Ipsum</h1>
        <p>
          Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis
          ornare vel eu leo.
        </p>
      </div>
      <div class="card">
        <h1>Lorem Ipsum</h1>
        <p>
          Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis
          ornare vel eu leo.
        </p>
      </div>
      <div class="card long">
        <h1>Lorem Ipsum</h1>
        <p>
          Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis
          ornare vel eu leo.
        </p>
      </div>
      <div class="card">
        <h1>Lorem Ipsum</h1>
        <p>
          Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis
          ornare vel eu leo.
        </p>
      </div>
      <div class="card">
        <h1>Lorem Ipsum</h1>
        <p>
          Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis
          ornare vel eu leo.
        </p>
      </div>
    </section>
    <!-- FOOTER -->
    <footer class="section-footer">
      <div class="layout-container">
        <div class="section-footer__layout layout-flex">
          <!-- COPYRIGHT -->
          <p class="section-footer--copyright text-note">
            <small>&copy; Masky</small>
          </p>
          <!-- MENU -->
          <a href="#" role="link" aria-label="#">
            <img
              src="../static/images/annie.svg"
              alt="Annie"
              height="49"
              width="49"
            />
          </a>
          <a href="#" role="link" aria-label="#">
            <img
              src="../static/images/cisco.svg"
              alt="Cisco"
              height="49"
              width="49"
            />
          </a>
          <a href="#" role="link" aria-label="#">
            <img
              src="../static/images/jovani.svg"
              alt="Jovani"
              height="49"
              width="49"
            />
          </a>
          <a href="#" role="link" aria-label="#">
            <img
              src="../static/images/max.svg"
              alt="Max"
              height="49"
              width="49"
            />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
